# .gitignore itself #
#########################
# .gitignore


#OS generated temp files#
#########################
*.*~
*~
*.thumbs

# for distribution
l2kurz-ctan
l2kurz-ctan.tgz

# source #
#########################
l2kurz.aux
l2kurz.fdb_latexmk
l2kurz.log
l2kurz.out
l2kurz.toc
l2kurz.bbl
l2kurz.blg
l2kurz.synctex.gz
l2kurz.tmp
l2kurz.bib.bak
l2kurz.brf
l2kurz.fls
# bis zu einem "stabileren Zeitpunkt" lohnt es sich m.E. nicht das PDF im Repository zu haben
l2kurz.pdf

fontspecbeispiel.pdf
fontspecbeispiel.aux
fontspecbeispiel.log

